.adbox  {
	.adbox-left {
		float: left;
		position: relative;
		padding-left: 0;
		padding-right: 0;
		img {
			height: 420px;
		}
		.adbox-info {
			position: absolute;
			right: 10%;
			bottom: 7%;
		}
	}
	.adbox-right {
		float: left;
		background: url("../images/banner-bg.jpg") repeat ;
  		background-size: cover;
  		height: 420px;
  		h1 {
  			padding: 8% 2%;
  			font-weight: bold;  			
  		}
  		p {
  			padding: 3% 8%;	    
		    line-height: 1.5em;
		    font-size: 120%;
  			color: $text-color;
  		}
	}
}

.feature {
	figure {
		@extend %padding-offset;
	}
	.room {
		@extend %padding-offset;
		padding: 15px ;
		background: $room-bgcolor url("../images/separator-light.png") repeat-x top ;
		height: 140px;
		h4 {
			color: $feature-title;
			font-family: $font-accent;
		}
		p {
			color: $room-textcolor;
		}
	}	
}

.contact {
	background-color: #FFF ;
	padding-top: 10px;
	padding-bottom: 10px;
	h4 ,h5 {
		color: $contact-title;
		font-weight : bold;
		
	}
	.contact-info {
		p {
			font-size: 24px;
			font-weight: bold;
			color: #241b18;
			margin-bottom: 10%;
		} 
	}
	
	.blog h4 {
		padding-left: 15px;
	}
	.blog > div {
		display: inline-flex;
		flex-direction: row;
		
		& > div {
			background-color: #DDDAD3;
			p:first-child {
				padding-top: 10%;
			}
			p:nth-child(2n) {
				padding-bottom: 20%;				
				font-size: 130%;
			}
			p:last-child >a {
				&:hover {
					color: $blog-color-hover;
					text-decoration: none;
				}
			}
			p:nth-child(2n), p:last-child >a{
				color: $blog-color;
				font-family: $font-accent;
				font-weight: bold;
			}	
		}	
	}
}

@media(min-width: 992px) {
	.contact{
		.blog {
			background: url("../images/separator-light-vertical.png") repeat-y left ;
		}
	}	
}