footer {
	background-color: $footer-bgcolor;
	padding-top: 2%;
	p, p>a {
		color: $footer-textcolor;
	}
	h4 {
		color: $footer-title;
		font-family: $font-accent;
		font-weight: bold;
	}
	.showroom {
		img {
			margin-bottom: 5%;
		}
	}
	.posts {
		li {
			padding-bottom: 10%;
			span {
				background: url("../images/bg-time.png") no-repeat left top ;
				height: 42px;
				width: 32px;
				font-family: $font-accent;
				color: #fff;
				float: left;  
				padding: 0 5px;
				margin: 0 15px 15px 0;
				text-align: center;
			}
			p {
				
				line-height: 18px;
    			margin: 0;
    			a {
    				font-weight: bold;
					text-decoration: none;
					line-height: 24px;
					display: block;
    			}
			}
		}	
	}
	.email {
		border: 3px solid #af8112;
	}
	form button {
		margin-top: 3%;
	}
	.social {
		padding: 5%;
		a {
			margin-right: 8%;
		}
	}
	.footer-bottom {
		background: url("../images/separator-dark.png") repeat-x top ;
		padding: 1% 1% 1.2% 1%;
	}
}

@media(min-width: 992px) {
	footer{
		.showroom {
			background: url("../images/separator-dark-vertical.png") repeat-y right;
		}
		.posts {
			background: url("../images/separator-dark-vertical.png") repeat-y right;
		}
		.social {
			background: url("../images/separator-dark.png") repeat-x top ; 
		}

	}	
	
}

@media(min-width: 768px) {	
	footer .footer-bottom {
		padding: 2%;
		p {
			margin-left: 3%;
			float: left;
		}
		ul {
			margin-right: 3%;
			float: right;
		}
	}
}

@media(max-width: 760px) {	
	footer .footer-bottom {
		padding: 2%;
		p ,ul {	
			text-align: center;		
		}
		p {
			padding-top: 5px;
		}
		ul {
			padding: 5px;
		}
	}
}