footer {
	background-color: $footer-bgcolor;
	padding-top: 2%;
	p, p>a {
		color: $footer-textcolor;
	}
	h4 {
		color: $footer-title;
		font-family: $font-accent;
		font-weight: bold;
	}
	.showroom {
		img {
			margin-bottom: 5%;
		}
	}
	.posts {
		li {
			padding-bottom: 10%;
			span {
				background: url("../images/bg-time.png") no-repeat left top ;
				height: 42px;
				width: 32px;
				font-family: $font-accent;
				color: #fff;
				float: left;  
				padding: 0 5px;
				margin: 0 15px 15px 0;
				text-align: center;
			}
			p {
				
				line-height: 18px;
    			margin: 0;
    			a {
    				font-weight: bold;
					text-decoration: none;
					line-height: 24px;
					display: block;
    			}
			}
		}	
	}
}