header {
	padding: 30px 0 20px 0;
	background-color: $header-bgcolor;
	border-bottom: 1px solid #fff;
	.logo {
		float: left;
		margin: 15px;
	}
	ul {
	    line-height: 80px;
	    float: right;
	}
}

// @media(min-width: 736px) and (max-width: 992px)  {
// 	nav {
// 		.logo {
// 			float: none;
// 			display: flex;
// 			justify-content: center;
// 		}
// 		ul {
// 			float: none;
// 			display: flex;
// 			justify-content: space-around;
// 		}
// 	}
// }