.feature figure, .feature .room {
  margin-left: -15px;
  margin-right: -15px; }

.list li {
  display: inline;
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold; }
  .list li :hover {
    text-decoration: none; }

.list-hearder li :hover {
  color: #ffc947; }

.list-hearder li a {
  color: #fff;
  font-family: "Oswald"; }

.img-rwd {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto; }

.no-padding {
  padding-left: 0;
  padding-right: 0; }

header {
  padding: 30px 0 20px 0;
  background-color: #241B18;
  border-bottom: 1px solid #fff; }
  header .logo {
    float: left;
    margin: 15px; }
  header ul {
    line-height: 80px;
    float: right; }

.adbox .adbox-left {
  float: left;
  position: relative;
  padding-left: 0;
  padding-right: 0; }
  .adbox .adbox-left img {
    height: 420px; }
  .adbox .adbox-left .adbox-info {
    position: absolute;
    right: 10%;
    bottom: 7%; }

.adbox .adbox-right {
  float: left;
  background: url("../images/banner-bg.jpg") repeat;
  background-size: cover;
  height: 420px; }
  .adbox .adbox-right h1 {
    padding: 8% 2%;
    font-weight: bold; }
  .adbox .adbox-right p {
    padding: 3% 8%;
    line-height: 1.5em;
    font-size: 120%;
    color: #241b18; }

.feature .room {
  padding: 15px;
  background: #4B3A33 url("../images/separator-light.png") repeat-x top;
  height: 140px; }
  .feature .room h4 {
    color: #ffc947;
    font-family: "Oswald"; }
  .feature .room p {
    color: #fff; }

.contact {
  background-color: #FFF;
  padding-top: 2%; }
  .contact h4 {
    color: #7b7b7b;
    font-weight: bold; }
  .contact .blog > div {
    display: inline-flex;
    flex-direction: row; }
    .contact .blog > div > div {
      background-color: #DDDAD3; }

footer {
  background-color: #e2b241;
  padding-top: 2%; }
  footer p, footer p > a {
    color: #4b3a33; }
  footer h4 {
    color: #241b18;
    font-family: "Oswald";
    font-weight: bold; }
  footer .showroom img {
    margin-bottom: 5%; }
  footer .posts li {
    padding-bottom: 10%; }
    footer .posts li span {
      background: url("../images/bg-time.png") no-repeat left top;
      height: 42px;
      width: 32px;
      font-family: "Oswald";
      color: #fff;
      float: left;
      padding: 0 5px;
      margin: 0 15px 15px 0;
      text-align: center; }
    footer .posts li p {
      line-height: 18px;
      margin: 0; }
      footer .posts li p a {
        font-weight: bold;
        text-decoration: none;
        line-height: 24px;
        display: block; }

body {
  font-family: "QuattrocentoSans-Regular";
  background: url("../images/bg.png") repeat center center; }

