<header>
    <nav>
        <div class="container">
            <div class="logo">
                <!-- <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#menu-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <figure>
                    <a href="#">
                      <img src="images/logo.png" class="img-rwd" />
                    </a>
                </figure>
            </div>
            <div class=" menu">
                <ul class=" list list-hearder">
                    <li><a href="#" class="scroll-link home">home</a></li>
                    <li><a href="#" class="scroll-link">about</a></li>
                    <li><a href="#" class="scroll-link">gallery</a></li>
                    <li><a href="#" class="scroll-link">blog</a></li>
                    <li><a href="#" class="scroll-link">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>