.list{ 
    li {
        display: inline;
        margin: 10px;
        text-transform: uppercase;
        font-weight: bold;    
        :hover {
            text-decoration: none;
        }
    }
}

.list-hearder {
	li {
		:hover {      
            color: $link-color-hover;
        }
        a {
        	color: $link-color;
        	font-family: $font-accent;
        }
	}
}

.list-footer {
    li {
        :hover {      
            color: $footerlink-color-hover;
        }
        a {
            color: $footerlink-color;
            font-family: $font-accent;
        }
    }
}
