// improve  img-responsive
.img-rwd {
	display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.no-padding {
	padding-left: 0;
	padding-right: 0;
}

.margin-offset {
	margin-left: -15px;
	margin-right: -15px;
}

// button
.mybtn-primary {
    color: #fff;
    background-color: #241b18;
    border-color: #241b18;
    &:hover {
        color: #fff;
        background-color: #4B3A33;
    }
}