//
// font-family
//
$font-primary: "QuattrocentoSans-Regular";
$font-accent: "Oswald";

//
// header
//
$header-bgcolor: #241B18;
$link-color: #fff;
$link-color-hover: #ffc947 ;

//
// content
//
$text-color: #241b18;

$feature-title:#ffc947;