//
// font-family
//
$font-primary: "QuattrocentoSans-Regular";
$font-accent: "Oswald";

//
// header
//
$header-bgcolor: #241B18;
$link-color: #fff;
$link-color-hover: #ffc947 ;

//
// content
//

//adbox
$text-color: #241b18;

// feature
$feature-title: #ffc947;
$room-bgcolor: #4B3A33;
$room-textcolor: #fff;

//contact
$contact-title: #7b7b7b;

//
// footer
//
$footer-textcolor: #4b3a33;
$footer-bgcolor: #e2b241;
$footer-title: #241b18;