<footer>
    <section class="container">
        <div class="row">
            <div class="col-md-4 showroom">
                <h4>VISIT OUR SHOWROOM</h4>
                <img src="images/show-room.png" alt="show-room" />
                <p>This is just a place holder, so you can see what the site would look like.</p>
                <p>760-962-9541</p>
                <p><a href="#">info@carvedcreations.com</a></p> 
            </div>
            <div class="col-md-4 posts">
                <h4>RECENT BLOG POSTS</h4>
                <ul>
                    <li>
                        <span>Apr 16</span>
                        <p><a href="#">The Carving Master & Owner</a> This is just a place holder, so you can see what the site would look like.</p>          
                    </li>
                    <li>
                        <span>Apr 15</span>
                        <p><a href="#">5 Star Hotels We Supply</a>This is just a place holder, so you can see what the site would look like.</p>                    
                    </li>
                    <li>
                        <span>Apr 14</span>
                        <p><a href="#">How To Pick The Right Furniture </a>This is just a place holder, so you can see what the site would look like.</p>                  
                    </li>
                </ul>                                                                                       
            </div>
            <div id="newsletter" class="col-md-4">
                <form role="form">
                    <div class="form-group">
                       <label for="InputEmail1"><h4>JOIN OUR NEWSLETTER</h4></label>
                       <input type="email" class="form-control" id="InputEmail1" placeholder="Enter Email Address Here For Updates">
                    </div>
                    <button type="submit" id="email-btn" class="btn btn-default">submit</button>
                </form>
                <div id="social">              
                    <h4>SOCIAL MEDIA</h4>
                    <a href="#"><img src="images/icon_fb.png" alt="icon_fb" /></a>
                    <a href="#"><img src="images/icon_g.png" alt="icon_g" /></a> 
                    <a href="#"><img src="images/icon_t.png" alt="icon_t" /></a>   
                </div>
            </div>  
        </div>
    </section>

</footer>